<div class="background-image">
  <div class="container min-vh-100 d-flex justify-content-center align-items-center flex-column">

    <!-- Back -->
    <div class="d-flex justify-content-center align-items-center">
      <button class="secondary_btn btn-link pirata-one-regular mb-3" (click)="onHome()">{{ 'GENERAL.BACK' |
        translate
        }}</button>
    </div>

    <div class="w-100 w-md-75">
      <div class="scrollable-content p-3 bg-light rounded-3 domine-400">
        <h2 class="text-center">{{ 'LAW.TITLE' | translate }}</h2><br>
        <div class="lead">
          <!-- General -->
          <p class="text-center fw-bold"><strong>I - {{ 'LAW.SECTION.GENERAL.TITLE' | translate
              }}</strong></p><br>
          <p>{{ 'LAW.SECTION.GENERAL.EXPECTED.TITLE' | translate }} :</p>
          <span>- {{ 'LAW.SECTION.GENERAL.EXPECTED.COMMON_RARE' | translate }}</span>
          <p>- {{ 'LAW.SECTION.GENERAL.EXPECTED.EPIC_CITADEL' | translate }}</p>
          <p>- {{ 'LAW.SECTION.GENERAL.EXPECTED.ANCIENT.TITLE' | translate }}</p>
          <ul>
            <li>{{ 'LAW.SECTION.GENERAL.EXPECTED.ANCIENT.VAULT' | translate }}</li>
            <li>{{ 'LAW.SECTION.GENERAL.EXPECTED.ANCIENT.GOLDENBOY' | translate }}</li>
          </ul>
          <p>- {{ 'LAW.SECTION.GENERAL.EXPECTED.RAGNAROK' | translate }}</p>
          <p> {{ 'LAW.SECTION.GENERAL.EXEPTION' | translate }}</p>
          <p> {{ 'LAW.SECTION.GENERAL.PS' | translate }}</p>
          <!-- Crypting -->
          <p class="text-center fw-bold"><strong>II - {{ 'LAW.SECTION.CRYPTING.TITLE' | translate
              }}</strong></p><br>
          <p><u>{{ 'LAW.SECTION.CRYPTING.NORMS.VALHALLA.TITLE' | translate }}</u></p>
          <ul>
            <li>{{ 'LAW.SECTION.CRYPTING.NORMS.VALHALLA.G7' | translate }}</li>
            <li>{{ 'LAW.SECTION.CRYPTING.NORMS.VALHALLA.G8' | translate }}</li>
            <li>{{ 'LAW.SECTION.CRYPTING.NORMS.VALHALLA.G9' | translate }}</li>
          </ul>
          <p><u>{{ 'LAW.SECTION.CRYPTING.NORMS.ASGARD.TITLE' | translate }}</u></p>
          <ul>
            <li>{{ 'LAW.SECTION.CRYPTING.NORMS.ASGARD.G7' | translate }}</li>
            <li>{{ 'LAW.SECTION.CRYPTING.NORMS.ASGARD.G8' | translate }}</li>
            <li>{{ 'LAW.SECTION.CRYPTING.NORMS.ASGARD.G9' | translate }}</li>
          </ul>
          <p><u>{{ 'LAW.SECTION.CRYPTING.NORMS.FRONTIER.TITLE' | translate }}</u></p>
          <ul>
            <li>{{ 'LAW.SECTION.CRYPTING.NORMS.FRONTIER.ALL' | translate }}</li>
          </ul>
          <!-- CP -->
          <p class="text-center fw-bold"><strong>III - {{ 'LAW.SECTION.CP.TITLE' | translate
              }}</strong></p><br>
          <p>{{ 'LAW.SECTION.CP.PRICE' | translate }}</p>
          <ul>
            <li>{{ 'LAW.SECTION.CP.RULES.R1' | translate }}</li>
            <li>{{ 'LAW.SECTION.CP.RULES.R2' | translate }}</li>
            <li>{{ 'LAW.SECTION.CP.RULES.R3' | translate }}</li>
            <li>{{ 'LAW.SECTION.CP.RULES.R4' | translate }}</li>
            <li>{{ 'LAW.SECTION.CP.RULES.R5' | translate }}</li>
            <li>{{ 'LAW.SECTION.CP.RULES.R6' | translate }}</li>
          </ul>
          <p>{{ 'LAW.SECTION.CP.TROOPS.TITLE' | translate }}</p>
          <ul>
            <li>{{ 'LAW.SECTION.CP.TROOPS.G9' | translate }}</li>
            <li>{{ 'LAW.SECTION.CP.TROOPS.G8' | translate }}</li>
            <li>{{ 'LAW.SECTION.CP.TROOPS.G7' | translate }}</li>
          </ul>
          <p>{{ 'LAW.SECTION.CP.FINAL' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>