<div class="background-container">
  <div class="background-image"></div>
  <div class="content">
    <div class="d-flex justify-content-center align-items-center">
      <button class="secondary_btn btn-link pirata-one-regular mt-4 mb-3" (click)="onHome()">
        {{ 'GENERAL.BACK' | translate }}</button>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 mt-1">
      <button class="secondary_btn tertiary btn-link pirata-one-regular w-100 w-md-auto"
        (click)="loadTable('valhalla', 'Valhalla')">Valhalla</button>
      <button class="secondary_btn tertiary btn-link pirata-one-regular w-100 w-md-auto"
        (click)="loadTable('legacy', 'Legacy')">Legacy</button>
      <button class="secondary_btn tertiary btn-link pirata-one-regular w-100 w-md-auto"
        (click)="loadTable('vinland', 'Vinland')">Vinland</button>
      <button class="secondary_btn tertiary btn-link pirata-one-regular w-100 w-md-auto"
        (click)="loadTable('frontier', 'Frontier')">Frontier</button>
      <!--<button class="secondary_btn tertiary btn-link pirata-one-regular w-100 w-md-auto"
        (click)="iframe()">Analytics</button>-->
    </div>


    <div *ngIf="authService.userRole === 'admin' || authService.userRole === selectedTable"
      class="ms-5 mt-3 me-5 file admin border rounded p-3 bg-light" style="opacity: 0.7;">
      <h3 class="text-info"><u>{{ 'CRYPTING.TITLE' | translate }}</u></h3>
      <h4 class="text-info">{{ 'CRYPTING.FILE' | translate }}</h4>
      <input type="file" class="text-dark" (change)="onFileChange($event)" accept=".xlsx, .xls" />
    </div>

    <h2 class="ms-3 mt-3 text-dark domine-400">{{ pageTitle }}</h2>

    <div *ngIf="showComponent">
      <div class="admin" *ngIf="data.length">
        <button class="btn btn-primary m-3" (click)="saveTableToDatabase()">Save generated data</button>
        <h3 class="text-info domine-400 ms-3">{{ 'CRYPTING.TABLE' | translate }} :</h3>
        <table class="table table-striped" border="1">
          <thead>
            <tr>
              <th *ngFor="let header of headers">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Affichage de la date de rapport pour l'onglet sélectionné -->
    <!-- @if (selectedTable !== 'iframe') { -->
    @if (selectedTable === 'valhalla') {
    <h4 class="text-white ms-3">{{ 'CRYPTING.PERIOD' | translate }} : {{ 'CRYPTING.FROM' | translate }} 2025-03-18 {{
      'CRYPTING.TO' | translate }} 2025-03-24</h4>
    } @else {
    <h4 class="text-white ms-3">{{ 'CRYPTING.PERIOD' | translate }} : {{ 'CRYPTING.FROM' | translate }} 2025-03-31 {{
      'CRYPTING.TO' | translate }} 2025-03-06</h4>
    }

    <h4 class="text-white ms-3">{{ 'DATATABLE.UPDATED' | translate }} : {{ getFormattedReportDate() }}</h4>

    <app-data-table [tableName]="selectedTable"></app-data-table>

    <div class="mt-4 d-flex justify-content-center">
      <button class="btn btn-primary mb-3" (click)="downloadReport()">{{ 'CRYPTING.XLS' | translate }}</button>
    </div>
    <!--} @else { -->
    <!-- <div class="container-fluid px-3">
      <iframe src="https://lookerstudio.google.com/embed/reporting/60250cc0-e0fb-49b7-92e2-e96e54be2d1e/page/7IS3D"
        frameborder="0" class="w-100" style="border: 0; height: 90vh;" allowfullscreen
        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
      </iframe>
    </div> -->
    <!--} -->

  </div>
</div>