<div class="background-image">
  <div class="d-flex justify-content-center align-items-center">
    <button class="secondary_btn btn-link pirata-one-regular mt-4 mb-3" (click)="onHome()">{{ 'GENERAL.BACK' |
      translate
      }}</button>
  </div>
  <div class="container">
    <div class="row">
      <!-- Colonne pour le paragraphe -->
      <div class="col-md-6 d-flex align-items-center">
        <div class="text-white p-3 domine-400">
          <p>{{ 'PRESENT.DESCRIPTION' | translate }}</p>
          <p><strong>{{ 'PRESENT.SUB_DESCRIPTION' | translate }}</strong></p>
          <p>UTC+3</p>
        </div>
      </div>
      <!-- Colonne pour la table -->
      <div class="col-md-6 domine-400">
        <table class="table table-bordered mx-auto">
          <tbody>
            <tr>
              <td>{{ 'PRESENT.DAYS.MONDAY' | translate }}</td>
              <td><a href="https://tbattle.co/3vOHIqy">https://tbattle.co/3vOHIqy</a></td>
            </tr>
            <tr>
              <td>{{ 'PRESENT.DAYS.TUESDAY' | translate }}</td>
              <td><a href="https://tbattle.co/3vnXSrN">https://tbattle.co/3vnXSrN</a></td>
            </tr>
            <tr>
              <td>{{ 'PRESENT.DAYS.WEDNESDAY' | translate }}</td>
              <td><a href="https://tbattle.co/3von0P3">https://tbattle.co/3von0P3</a></td>
            </tr>
            <tr>
              <td>{{ 'PRESENT.DAYS.THURSDAY' | translate }}</td>
              <td><a href="https://tbattle.co/36YAvvC">https://tbattle.co/36YAvvC</a></td>
            </tr>
            <tr>
              <td>{{ 'PRESENT.DAYS.FRIDAY' | translate }}</td>
              <td><a href="https://tbattle.co/39shpyZ">https://tbattle.co/39shpyZ</a></td>
            </tr>
            <tr>
              <td>{{ 'PRESENT.DAYS.SATURDAY' | translate }}</td>
              <td><a href="https://tbattle.co/3OKROkX">https://tbattle.co/3OKROkX</a></td>
            </tr>
            <tr>
              <td>{{ 'PRESENT.DAYS.SUNDAY' | translate }}</td>
              <td><a href="https://tbattle.co/3MEqjr4">https://tbattle.co/3MEqjr4</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>