<div class="background-image">

  <!-- Back -->
  <div class="d-flex justify-content-center align-items-center">
    <button class="secondary_btn btn-link pirata-one-regular mt-4 mb-3" (click)="onHome()">{{ 'GENERAL.BACK' |
      translate
      }}</button>
  </div>

  <!-- Valhalla, Asgard, Frontier -->
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 mt-1">
    <button class="secondary_btn tertiary btn-link pirata-one-regular w-100 w-md-auto"
      (click)="loadTable('valhalla')">Valhalla</button>
    <button class="secondary_btn tertiary btn-link pirata-one-regular w-100 w-md-auto"
      (click)="loadTable('asgard')">Asgard</button>
    <button class="secondary_btn tertiary btn-link pirata-one-regular w-100 w-md-auto"
      (click)="loadTable('frontier')">Frontier</button>
  </div>

  <div class="d-flex justify-content-center align-items-center valhalla" *ngIf="currentTable === 'valhalla'">
    <div class="container domine-400">
      <div class="row">
        <!-- Première table dans une colonne -->
        <div class="col-md-6">
          <table class="table-bordered mx-auto">
            <tbody>
              <!--<tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 5</td>
                <td class="text-end">0</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 10</td>
                <td class="text-end">0</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 15</td>
                <td class="text-end">0</td>
              </tr>-->
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 20</td>
                <td class="text-end">20</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 25</td>
                <td class="text-end">25</td>
              </tr>
              <!--<tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 15</td>
                <td class="text-end">0</td>
              </tr>-->
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 20</td>
                <td class="text-end">30</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 25</td>
                <td class="text-end">40</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 30</td>
                <td class="text-end">60</td>
              </tr>
              <!--<tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 15</td>
                <td class="text-end">0</td>
              </tr>-->
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 20</td>
                <td class="text-end">50</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 25</td>
                <td class="text-end">70</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 30</td>
                <td class="text-end">90</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 35</td>
                <td class="text-end">125</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Deuxième table dans une colonne -->
        <div class="col-md-6">
          <table class="table-bordered mx-auto bg-info-subtle">
            <tbody>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.OTHER.BANK' | translate }}: {{ 'NOTATION.OTHER.CHEST.WOODEN' | translate }}</td>
                <td class="text-end">10</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.OTHER.BANK' | translate }}: {{ 'NOTATION.OTHER.CHEST.BRONZ' | translate }}</td>
                <td class="text-end">20</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.OTHER.BANK' | translate }}: {{ 'NOTATION.OTHER.CHEST.SILVER' | translate }}</td>
                <td class="text-end">30</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.OTHER.BANK' | translate }}: {{ 'NOTATION.OTHER.CHEST.GOLDEN' | translate }}</td>
                <td class="text-end">50</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.OTHER.BANK' | translate }}: {{ 'NOTATION.OTHER.CHEST.PRICELESS' | translate }}</td>
                <td class="text-end">80</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.OTHER.BANK' | translate }}: {{ 'NOTATION.OTHER.CHEST.MAGICAL' | translate }}</td>
                <td class="text-end">150</td>
              </tr>
              <!--<tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 10</td>
                <td class="text-end">0</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 15</td>
                <td class="text-end">0</td>
              </tr>-->
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 20</td>
                <td class="text-end">30</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 25</td>
                <td class="text-end">50</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 30</td>
                <td class="text-end">70</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.OTHER.MERCENARY' | translate }}</td>
                <td class="text-end">25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Asgard -->
  <div class="d-flex justify-content-center align-items-center asgard" *ngIf="currentTable === 'asgard'">
    <div class="container domine-400">
      <div class="row">
        <!-- Première table dans une colonne -->
        <div class="col-md-6">
          <table class="table-bordered mx-auto">
            <tbody>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 15</td>
                <td class="text-end">16</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 20</td>
                <td class="text-end">64</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 25</td>
                <td class="text-end">256</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 15</td>
                <td class="text-end">46</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 20</td>
                <td class="text-end">128</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 25</td>
                <td class="text-end">350</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 30</td>
                <td class="text-end">1,280</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 15</td>
                <td class="text-end">68</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 20</td>
                <td class="text-end">192</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 25</td>
                <td class="text-end">768</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 30</td>
                <td class="text-end">1,500</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 35</td>
                <td class="text-end">3,000</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table-bordered mx-auto bg-info-subtle">
            <tbody>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 15</td>
                <td class="text-end">32</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 20</td>
                <td class="text-end">64</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 25</td>
                <td class="text-end">128</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.STRONGHOLD' | translate }} 30</td>
                <td class="text-end">256</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Frontier -->
  <div class="d-flex justify-content-center align-items-center frontier" *ngIf="currentTable === 'frontier'">
    <div class="container domine-400">
      <div class="row">
        <!-- Première table dans une colonne -->
        <div class="col-md-6">
          <table class="table-bordered mx-auto">
            <tbody>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 10</td>
                <td class="text-end">35</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 15</td>
                <td class="text-end">75</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 20</td>
                <td class="text-end">167</td>
              </tr>
              <tr class="bg-success-subtle">
                <td>{{ 'NOTATION.CRYPT.COMMON' | translate }} 25</td>
                <td class="text-end">427</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 10</td>
                <td class="text-end">66</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 15</td>
                <td class="text-end">130</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 20</td>
                <td class="text-end">319</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 25</td>
                <td class="text-end">629</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.CRYPT.RARE' | translate }} 30</td>
                <td class="text-end">1,349</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 15</td>
                <td class="text-end">308</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 20</td>
                <td class="text-end">598</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 25</td>
                <td class="text-end">890</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 30</td>
                <td class="text-end">1,184</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.CRYPT.EPIC' | translate }} 35</td>
                <td class="text-end">1,480</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table-bordered mx-auto bg-info-subtle">
            <tbody>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.ELVEN_STRONGHOLD' | translate }} 10</td>
                <td class="text-end">18</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.ELVEN_STRONGHOLD' | translate }} 15</td>
                <td class="text-end">30</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.ELVEN_STRONGHOLD' | translate }} 20</td>
                <td class="text-end">38</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.ELVEN_STRONGHOLD' | translate }} 25</td>
                <td class="text-end">95</td>
              </tr>
              <tr class="bg-warning-subtle">
                <td>{{ 'NOTATION.OTHER.ELVEN_STRONGHOLD' | translate }} 30</td>
                <td class="text-end">130</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.OTHER.CURSED_STRONGHOLD' | translate }} 20</td>
                <td class="text-end">38</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.OTHER.CURSED_STRONGHOLD' | translate }} 25</td>
                <td class="text-end">95</td>
              </tr>
              <tr class="bg-danger-subtle">
                <td>{{ 'NOTATION.OTHER.CURSED_STRONGHOLD' | translate }} 30</td>
                <td class="text-end">130</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>